@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {font-family: "Druk Wide Bold"; src: url("//db.onlinewebfonts.com/t/e45212fe434d8d24e4b834fd63e5b294.eot"); src: url("//db.onlinewebfonts.com/t/e45212fe434d8d24e4b834fd63e5b294.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e45212fe434d8d24e4b834fd63e5b294.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e45212fe434d8d24e4b834fd63e5b294.woff") format("woff"), url("//db.onlinewebfonts.com/t/e45212fe434d8d24e4b834fd63e5b294.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e45212fe434d8d24e4b834fd63e5b294.svg#Druk Wide Bold") format("svg"); } 
@font-face {font-family: "Druk Wide Medium"; src: url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.eot"); src: url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.woff") format("woff"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1238db2fc008ce88465a792fad1e5519.svg#Druk Wide Medium") format("svg"); }

:root {
  font-family: "Druk Wide Medium";
  @apply font-thin
}


/* ! FONTS ! */

@layer components {
  .bold {
    font-family: "Druk Wide Bold"
  }
  .medium {
    font-family: "Druk Wide Medium"
  }
}

/* ! NAVBAR ! */

@layer components {
  .navbar-container {
    @apply w-full h-[10%] flex justify-between items-center text-[12px] bg-white fixed px-20 border-b
  }
  .navbar-link {
    @apply bg-white text-black border border-black 
    rounded-full px-4 py-2 transition-all hover:bg-gray-200
  }

  .navbar-link-active {
    @apply bg-black text-white border border-black
    rounded-full px-4 py-2 transition-all
  }
}
